<h4>welcome to twitter lover, where you can meet other twitter lovers near you</h4>
<hr />
<h5>Enter your location, and a radius and I will give you tweets in that circle</h5>
<hr />

<%= form_tag(new_search_path ) do %>
  <%= label_tag('latitude') %>
  <%= text_field_tag('long')  %>
  <%= label_tag('longitude') %>
  <%= text_field_tag( 'lat') %>
  <%= submit_tag( 'submit', id: 'submit') %>
<% end %>
